<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conatct Us</title>
</head>
<body class="bg-image"
style="background-image: url('https://www.wallpaperuse.com/wallp/15-156645_m.jpg'); background-size: 100%">
{{>header}}
<div style="text-align: center;">
  <h1>{{pageName}}</h1>
  <p>Email ID :{{email}}</p>
  <p>Whatsapp:{{whatsapp}}</p>  
  <p>Facebook:{{facebook}}</p>
  <p>Insagram:{{instagram}}</p>
  </div>
  <div style="margin-top: 27%;">
    {{>footer}}
  </div>
</body>
</html>


