<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Destination</title>
</head>
<body class="bg-image"
style="background-image: url('https://www.wallpaperuse.com/wallp/15-156645_m.jpg'); background-size: 100%">
{{>header}}
    <div style="margin-top:2%; margin-left:30%; margin-right:30%" class="card border-secondary mb-3" style="max-width: 18rem;">
  <div class="card-body text-secondary">
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Red_Fort%2C_Delhi_India.jpg" alt="Avatar" class="avatar width="70" height="80">
    <h5 class="card-title"><span style="color:black">Destination Name: </span>{{destinationName}}</h5>
    <h5 class="card-text"><span style="color:black">Location: </span>{{location}}</h5>
    <h5 class="card-text"><span style="color:black">Description: </span>{{description}}</h5>
    <h5 class="card-text"><span style="color:black">Activities: </span>{{activities}}</h5>
    <h5 class="card-text"><span style="color:black">Ratings: </span>{{ratings}}</h5>
  </div>
  </div>
  <div style="margin-top: 15%;">
    {{>footer}}
  </div>
</body>
</html>


