<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Package</title>
</head>
<body class="bg-image"
style="background-image: url('https://www.wallpaperuse.com/wallp/15-156645_m.jpg'); background-size: 100%">
{{>header}}
    <div style="margin-top:2%; margin-left:36%; text-align:center; width: 400px; height:390px" class="card border-secondary mb-3">
  <div class="card-body text-secondary">
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/India_Gate_in_New_Delhi_03-2016.jpg" alt="Avatar" class="avatar width="70" height="80">
    <h5 class="card-title">Place: {{placeName}}</h5>
    <p class="card-text">Location: {{location}}</p>
    <p class="card-text">No. of Days: {{noOfdays}}</p>
    <p class="card-text">Amenities: {{ameneties}}</p>
    <p class="card-text">Price: {{cost}}</p>
    <a class="btn btn-info" href="/" role="button">Book Now</a></h3>
  </div>
  </div>
  <div style="margin-top: 12%;">
    {{>footer}}
  </div>
</body>
</html>


